*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

ul{
    list-style-type: none;
    display: flex;
    li{
        margin-left: 15px;
    }
}
header{
    display: flex;
    justify-content: center;
    color: white;
}
.contenedor_header{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.header_izq{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.header_der{
    width: 80%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

.header_der .up{
display: flex;
img{
    margin-left: 15px;
}
}

.header_der .down{
margin-top: 0;
}

main .imagen_main{
    position: relative;
    top: -130px;
    z-index: -1;
}

.imagen_main img{
    width: 100%;
}

main .contenedor_sobre{
    position: relative;
    z-index: 2;
    top: -390px;
    color: white;
    font-size: x-large;
    display: flex;
    align-items: flex-start;
    padding-left: 650px;
    flex-direction: column;
    justify-content: space-around;
}

main .contenedor_sobre button{
    margin-top: 10px;
    background-color: #910a2d;
    padding: 10px 20px;
    border: none;
    color: white;
}

.tarjetas{
    position: relative;
    top: -240px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;

}

.tarjeta1{
    width: 40%;
    height: 550px;
    background-color: rgb(0, 10, 10);
    background-image: url(./mazda-distribuidores-cv-v2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.tarjeta1 div{
    margin-top: 40px;
}

.tarjeta1 div p:first-child{
    text-transform: uppercase;
}

.tarjeta1:hover{
    transform: scale(1.05); /* Escala un poco el div al hacer hover */
    overflow: hidden; /* Asegura que el contenido adicional no sea visible */
}

.tarjeta2{
    width: 80%;
    height: 550px;
    background-color: rgb(0, 10, 10);
    background-image: url(./mazda-distribuidores-cs-v2.png);
    background-size: cover;
    background-position-y: -180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.tarjeta2 div{
    margin-top: 40px;
}

.tarjeta2 div p:first-child{
    text-transform: uppercase;
}

.tarjeta2:hover{
    transform: scale(1.05); /* Escala un poco el div al hacer hover */
    overflow: hidden; /* Asegura que el contenido adicional no sea visible */
}
