*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    font-size: 62.5%;
}

ul{
    list-style-type: none;
    display: flex;
    li{
        margin-left: 15px;
    }
    text-align: center;
    align-items: flex-end;
    }
header{
    display: flex;
    justify-content: center;
    color: white;
    li{
        text-transform: uppercase;
    }
}

a{
    color: #ffffff; /* Color del enlace no visitado (puedes elegir el color que prefieras) */
    text-decoration: none; /* Opcional: elimina el subrayado, si lo deseas */
}

a:visited {
    color: #ffffff; /* Establece el mismo color que el enlace no visitado */
}

.contenedor_header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100px;
    /* background-color: antiquewhite; */
}

.header_izq{
width: 15%;
}

.header_der{
    width: 80%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

.header_der .up{
display: flex;
font-size:1.3rem;
letter-spacing: 2px;

img{
    margin-left: 15px;
    margin-left: 30px;
}
li{
    margin-left: 30px;
}
}

.up a:hover{
    transition: .3s ease-in-out;
        color: #910a2d;    
    
}

.header_der .down{
margin-top: 0;
font-size:1.6rem;
}

.down li:hover{
    text-decoration: underline;
    text-decoration-color:#910a2d; 
    transition: .3s ease-in-out;

}

main{
    display: flex;
    justify-content: center;
}
main .imagen_main{
    position: relative;
    top: -100px;
    z-index: -1;
}

.imagen_main img{
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .imagen_main .contenedor_sobre{
    position: absolute;
    top: 200px;
    right: 60px;
    color: white;
    z-index: 50000; 
    font-size: x-large;
    display: flex;
    align-items: flex-start;
    padding-left: 0px;
    flex-direction: column;
    justify-content: space-around;
}

body{
    display: flex;
    flex-direction: column;
}

.contenedor_sobre p:last-child{
    font-size: 4.5rem;
}
main .contenedor_sobre button{
    margin-top: 10px;
    background-color: #910a2d;
    padding: 10px 20px;
    border: none;
    color: white;
    text-transform: uppercase;
}

main .contenedor_sobre button:hover{
    background-color: #c60303;
}

.tarjetas{
    position: relative;
    top: -120px;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}

.tarjeta1{
    width: 40%;
    height: 550px;
    background-color: #101010;
    background-image: url(./mazda-distribuidores-cv-v2.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.tarjetas #prueba_de{
    background-image: url(./mazda-distribuidores-pm-v2.png);
}

.tarjeta1 div{
    margin-top: 40px;
}

.tarjeta1 div p:first-child{
    text-transform: uppercase;
}


.tarjeta1:hover{
    transform: scale(1.05); /* Escala un poco el div al hacer hover */
    overflow: hidden; /* Asegura que el contenido adicional no sea visible */
}

.tarjeta2{
    width: 80%;
    height: 550px;
    background-color: rgb(0, 10, 10);
    background-image: url(./mazda-distribuidores-cs-v2.png);
    background-size: cover;
    background-position-y: -180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.tarjeta2 div p:first-child{
    text-transform: uppercase;
}

.tarjeta2 div{
    margin-top: 40px;
}

.tarjeta2 div p:first-child{
    text-transform: uppercase;
}

.tarjeta2:hover{
    transform: scale(1.05); /* Escala un poco el div al hacer hover */
    overflow: hidden; /* Asegura que el contenido adicional no sea visible */
}

.ubicación{
    display: flex;
    width: 80%;
    margin: 0 20px;
    align-self: center;
}
.datos{
    display: flex;
    width: 50%;
}

.ubicación .datos{
display: flex;
flex-direction: column;
}

.ubicación .mapa{
    width: 50%;
    margin-left: 60px;
    img{
        
        width: 100%;
    }
}
.mapa div{
position: relative;
}

.mapa .link-map{
    position: absolute;
    bottom: 9px;
    display: flex ;
    align-items: center;
    color: white;
    z-index: 100;
    background-color: #000000;
    width: 170px;
    height: 40px;
    padding-left: 15px;
    font-size: 2rem;
}

#mapax{
    color: white;
    font-size: 1.5rem;
}
.ubicación .direccion{
display: flex;
justify-content: flex-start;
font-size: 2rem;
ul{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
li:first-child{
    color: #910a2d;
}
}

.ubicación .superior{
    display: flex;
    flex-wrap: wrap;
}

.datos .superior .numeros_tel{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 15px;
    font-size: 1.5rem;
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;    }
}

.ubicación .inferior{
    display: flex;
    font-size: 1.5rem;
    ul{
        display: flex;
        flex-direction: column;
    }
    div{
        width: 50%;
        margin-top: 15px;
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;            
        }
    }
    li:first-child{
        font-size: 1.5rem;
        padding: 5px 0;

    }
}

.material-icons{
    font-size: 2px; /* Ajustar el tamaño del ícono */
    color: #000000;  /* Cambiar el color del ícono */
  }

.chatbot{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
}

.chatbot img{
    width: 45px;
}

.chatbot span{
    background-color: #5aa83b;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 1px 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}